* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #555;
  cursor: pointer;
}

#navLinks {
  list-style-type: none;
  display: flex;
  padding: 7.5px 10px 7.5px 10px;
}

nav h2 {
  color: white;
  font-size: 20px;
  padding: 7.5px 10px 7.5 10px;
}

#bioPage {
  padding: 10px 15px;
  background-color: #46494C;
}

#technologiesPage {
  padding: 10px 15px;
  background-color: #B8BDB5;
}

#technologiesPage ul li {
  list-style-type: none;
}

#projectsPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #5c7aff;
}

.project {
  background-color: white;
  width: 30%;
  border-radius: 15px 50px;
  margin: 10px;
}

.projectImg {
  display: flex;
  justify-content: center;
}

.project a {
  text-decoration: none;
  color: gray;
}

.project a:hover {
  color:#555;
}

.project-title,
.projectDescription,
.projectTechUsed,
.url,
.githubUrl {
  display: flex;
  justify-content: center;
  font-weight: bold;
}



footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
}

footer a {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #555;
}